.todo {
  background-color: #0b1120;
  width: 8rem;
  height: 8rem;
  margin: 0.5rem;
  border-radius: 4px;
  display: grid;
  padding: 0.5rem;
}

.btn {
  margin-bottom: 7px;
}

.todo:hover {
  background-color: #0b1120;
}
.todo p {
  opacity: 0.6;
}

.completed {
  background-color: #12ab12;
  width: 8rem;
  height: 8rem;
  margin: 0.5rem;
  border-radius: 4px;
  display: grid;
  padding: 0.5rem;
}
