.todo {
  background-color: #0b1120;
  margin: 0.5rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pad: 0.5rem;
}

.todo:hover {
  background-color: #0b1120;
}
.todo p {
  opacity: 0.6;
}
