.form {
  width: 70%;
  background-color: #0a2136;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin-bottom: 0.5rem;
}

.form-field {
  margin: 1rem 0;
  display: flex;
}
.form-field label {
  flex-basis: 20%;
}

.form-field input {
  flex-basis: 80%;
  border: none;
  border-radius: 0.6rem;
  padding: 0.2rem;
  border: none;
}
.form-field textarea {
  flex-basis: 80%;
  border: none;
  border-radius: 0.6rem;
  padding: 0.2rem;
}

.form button {
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.caption {
  font-size: 25px;
  font-weight: bold;
}

.desc {
  font-size: 25px;
  font-weight: bold;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #38bdf8;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #646cff;
}
