.todos {
  width: 70%;
  background-color: #0a2136;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  width: 50vw;
  min-height: 10rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
